html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background-color: #25354e;
    animation: body 10s linear infinite;
}

/*Sun */ 
.sun {
    position: absolute;
    top:70%;
    left: 75%;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-color: #e67e22;
<<<<<<< HEAD
    animation: sun 10s ease-in-out infinite;
=======
    animation: sun 10s linear infinite;
>>>>>>> f21b4433d34b9d82b1a54dfeb3ed32dfbb27d98c
}

/*Moon*/
.moon {
    position: absolute;
    top: 10px;
    width: 275px;
    height: 250px;
    left: -276px;
<<<<<<< HEAD
    animation: moon 10s linear infinite;
=======
>>>>>>> f21b4433d34b9d82b1a54dfeb3ed32dfbb27d98c
}
.moon_light {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-color: #ecf0f1;
}

.moon_unlight {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-color: #25354e;
}

/*Cloud*/
.cloud{
    position: absolute;
    top:60px;
    left: -340px;
    width: 350px;
    height: 150px;
<<<<<<< HEAD
    animation: cloud 10s ease-in-out infinite;
=======
    animation: cloud 17s linear infinite;
    animation-play-state: cloud 17s linear infinite;
>>>>>>> f21b4433d34b9d82b1a54dfeb3ed32dfbb27d98c
}

.cloud_1,
.cloud_2,
.cloud_3 {
    border-radius: 100%;
    position: absolute;
    background-color: #fff;
    height: 70px;
}
.cloud_1 {
    top:45px;
    left: 0;
    width: 150px;
}
.cloud_2 {
    top:20px;
    left: 100px;
    width: 175px;
}
.cloud_3 {
    top: 65px;
    left: 110px;
    width: 230px;
}

/* Ground */
.ground {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 33%;
    background-color: #00673a;

} 

/*body*/ 
@keyframes body {
<<<<<<< HEAD
    0% {
        background-color: #78abdb;
    }  
    25% {
        background-color: #78abdb;
    } 
    50% {
        background-color: #78abdb;
    }
    75% {
        background-color: #25354e;
    }
    100% {
        background-color: #25354e;
=======
    from {
        background-color: #25354e;
    }
    to {
        background-color: skyblue;
>>>>>>> f21b4433d34b9d82b1a54dfeb3ed32dfbb27d98c
    }
}

@keyframes sun {
    0% {
        top: 70%;
        left: 75%;
        background-color: #e67e22;
    }
<<<<<<< HEAD
    40% {
=======
    30% {
>>>>>>> f21b4433d34b9d82b1a54dfeb3ed32dfbb27d98c
        top: 10%;
        left: 75%;
        background-color: #f1c40f;
    }
<<<<<<< HEAD
    70% {
=======
    60% {
>>>>>>> f21b4433d34b9d82b1a54dfeb3ed32dfbb27d98c
        top:10%; 
        left: 5%;  
        background-color: #e67e22;      
    }
    100% {
        top: 70%;
        left: 5%;
        background-color: #d67617;
     }
}

@keyframes cloud {
<<<<<<< HEAD
    0%{
        top:60px;
        left:-340px;
    }
    40%{
        top: 60px;
        left: 50px;
    }
    72%{
        top: 60px;
        left: 50px;
    }
    100%{
        top:60px;
        left:1400px;
    }

}

@keyframes moon {
    0%{
        top:20px;
        left:-340px;
    }
    75%{
        top:20px;
        left:-340px;
    }
    100%{
        top:20px;
        left:50px;
    }
=======
    0% {
        top:60px;
        left: -340px;
    }
   75%{
       top:60px;
       left: 0;
   }
   100% {
       top:60px;
       left: 800px;
   }
}
>>>>>>> f21b4433d34b9d82b1a54dfeb3ed32dfbb27d98c
